* {
  margin: 0;
}

.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}

.login-container {
  width: 50%;
  position: fixed;
  top: 25%;
  left: 30%;
  margin-top: -50px;
  margin-left: -100px;
}

.monitor-create {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.createUser-container {
  display: block;
  text-align: center;
  width: 15%;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.Todo-Container {
  display: block;
  position: absolute;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  width: 30%;
  margin: 10px;
  height: 85%;
}

.Notes-Container {
  display: block;
  position: absolute;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  width: 38%;
  margin: 10px;
  margin-left: 32%;
  height: 85%;
}

.Issue-Container {
  display: block;
  position: absolute;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  width: 27%;
  margin: 10px;
  margin-left: 72%;
}