* {
  margin: 0;
}

.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}

.login-container {
  margin: auto;
  width: 25%;
  margin-top: 200px;

}

.monitor-create {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.createUser-container {
  display: block;
  text-align: center;
  width: 15%;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.Todo-Container {
  display: block;
  position: absolute;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  width: 30%;
  margin: 10px;
  height: 85%;
}

.Notes-Container {
  display: block;
  position: absolute;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  width: 38%;
  margin: 10px;
  margin-left: 32%;
  height: 85%;
}

.Right-Container {
  display: block;
  position: absolute;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  width: 27%;
  margin: 10px;
  margin-left: 72%;
  height: 85%;
}

.top-left {
  display: block;
  position: absolute;
  padding: 1rem;
  margin-bottom: 50%;
  width: 45%;
  height: 55%;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.top-right {
  display: block;
  position: absolute;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  margin-left: 47%;
  width: 45%;
  height: 55%;
}

.bottom-left {
  display: block;
  position: absolute;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  margin-top: 40%;
  width: 45%;
}

.bottom-left li {
  list-style-type: none;
  margin-left: -40px;
}

.bottom-right {
  display: block;
  position: absolute;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  margin-top: 40%;
  margin-left: 47%;
  width: 45%;
}

.done {
  text-decoration: line-through;
}

.todo-list li {
  list-style-type: none;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 55%;
  height: 75%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}


.Note-create-footer {
  margin-top: 55%;
  margin-left: 35%;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.Admin-Container {
  float: right;
  width: 80%;
}

.admin-main {
  display: block;
  float: right;
  width: 85%;

}

.navbar {
  position: absolute;
}